:root {
	font-family: sans-serif;
}

body > * {
	margin: 4pt;
	display: inline-block;
	vertical-align: top;
}

canvas {
	border: 1pt solid black;
	width: 640px;
}

#controls {
	display: table;
}

#controls label {
	display: table-row;
}

#controls label > * {
	display: table-cell;
	margin: 3pt;
}

#controls label > span {
	text-align: right;
}
